* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  font-weight: 600;
}

#waybar {
  background: none;
}

.modules-left, .modules-right, .modules-center {
  color: #70a5eb;
  background-color: #181c1f;
  padding: 0 12px;
  margin: 0;
  border: 1px solid #70a5eb;
  border-radius: 5px;
}

.modules-left {
  margin-top: 6px;
  margin-left: 6px;
}

.modules-center {
  margin-top: 6px;
}

.modules-right {
  margin-top: 6px;
  margin-right: 6px;
}

widget > * {
  margin-top: 6px;
  margin-bottom: 6px;
}

#pulseaudio, #cpu, #memory {
  margin-right: 18px;
}

#custom-playerctl {
 margin-left: 12px; 
}

#workspaces button {
  margin: 0 4px;
  color: #b6beca;
  background-color: #202529;
  border-radius: 5px;
  padding: 0 4px;
}

#workspaces button.focused {
  color: #181c1f;
  background-color: #70a5eb;
}
